* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.page {
  font-family: "Jost", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5; /* 33px/22 */
  letter-spacing: 0.22px;
  color: #292F36;
  background-color: #fff;
  overflow-x: clip;
}

.page.lock {
  overflow: clip;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: clip;
}

[class*=__container] {
  max-width: 1280px;
  padding-inline: calc(10px + 10 * (100vw - 320px) / 424);
  margin: 0 auto;
  overflow-x: clip;
}
@media (min-width: 767.98px) {
  [class*=__container] {
    padding-inline: calc(20px + 20 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  [class*=__container] {
    padding-inline: 40px;
  }
}