@-webkit-keyframes arrow-before {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes arrow-before {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes arrow-after {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0;
  }
}
@keyframes arrow-after {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0;
  }
}
.footer__subtitle, .contact__title, .card-project__title, .about__name {
  font-family: "DM Serif Display", serif;
  font-size: calc(20px + 5 * (100vw - 320px) / 424);
  line-height: 1.5; /* 37.5px/25 */
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 767.98px) {
  .footer__subtitle, .contact__title, .card-project__title, .about__name {
    font-size: calc(25px + 0 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .footer__subtitle, .contact__title, .card-project__title, .about__name {
    font-size: 25px;
  }
}

.blogs__title, .projects__title, .about__title, .designs__title, .options__subtitle, .hero__title {
  font-family: "DM Serif Display", serif;
  line-height: 1.3;
  font-weight: 400;
  font-style: normal;
}

.footer__logo, .header__logo {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  height: calc(25px + 10 * (100vw - 320px) / 424);
  width: calc(100px + 20 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .footer__logo, .header__logo {
    height: calc(35px + 15 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .footer__logo, .header__logo {
    height: 50px;
  }
}
@media (min-width: 767.98px) {
  .footer__logo, .header__logo {
    width: calc(120px + 57 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .footer__logo, .header__logo {
    width: 177px;
  }
}
.footer__logo img, .header__logo img {
  position: absolute;
  left: 0;
  top: 0;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

.page {
  font-family: "Jost", serif;
  font-size: calc(16px + 4 * (100vw - 320px) / 424);
  font-weight: 400;
  line-height: 1.5; /* 33px/22 */
  letter-spacing: 0.22px;
  color: #292f36;
  background-color: #fff;
  overflow-x: clip;
}
@media (min-width: 767.98px) {
  .page {
    font-size: calc(20px + 2 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .page {
    font-size: 22px;
  }
}
.page__header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.page.lock {
  overflow: clip;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: clip;
}

[class*=__container] {
  max-width: 1280px;
  padding-inline: calc(10px + 10 * (100vw - 320px) / 424);
  margin: 0 auto;
  overflow-x: clip;
}
@media (min-width: 767.98px) {
  [class*=__container] {
    padding-inline: calc(20px + 20 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  [class*=__container] {
    padding-inline: 40px;
  }
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__content {
  position: relative;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(50px + 20 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .header__content {
    height: calc(70px + 36 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .header__content {
    height: 106px;
  }
}
.header__logo {
  z-index: 3;
}
@media (max-width: 1024px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.4s ease 0s;
    transition: left 0.4s ease 0s;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .header__menu.active {
    left: 0;
  }
  .header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 40px;
  }
}

.burger {
  position: relative;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}
@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}
.burger:before, .burger:after {
  content: "";
}
.burger:before, .burger:after, .burger span {
  width: 100%;
  height: 10%;
  position: absolute;
  left: 0;
  display: block;
  background-color: #292f36;
  border-radius: 10px;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger:before {
  top: 0;
}
.burger:after {
  bottom: 0;
}

.burger.active:before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.burger.active:after {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.burger.active span {
  opacity: 0;
  -webkit-transform: translateY(-50%) scale(0);
      -ms-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1024px) {
  .menu__list {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
.menu__link {
  position: relative;
  left: 0;
  top: 0;
  font-size: 19px;
  font-size: calc(25px + 0 * (100vw - 320px) / 424);
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #292f36;
  z-index: 3;
  position: relative;
  color: #292f36;
}
@media (min-width: 767.98px) {
  .menu__link {
    font-size: calc(25px + -6 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .menu__link {
    font-size: 19px;
  }
}
.menu__link:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -3px;
  height: 2px;
  width: 0%;
  border-radius: 5px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background-color: #292f36;
}
.menu__link:hover:before {
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media (hover: none) {
  .menu__link:active :before {
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}
.menu__link.active {
  color: #cda274;
}
.menu__link.active:before {
  background-color: #cda274;
}

.main__hero {
  position: relative;
  margin-bottom: calc(50px + 50 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__hero {
    margin-bottom: calc(100px + 75 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .main__hero {
    margin-bottom: 175px;
  }
}
.main__options {
  margin-bottom: calc(50px + 40 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__options {
    margin-bottom: calc(90px + 80 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .main__options {
    margin-bottom: 170px;
  }
}
.main__designs {
  margin-bottom: calc(50px + 40 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__designs {
    margin-bottom: calc(90px + 50 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .main__designs {
    margin-bottom: 140px;
  }
}
.main__about {
  margin-bottom: calc(50px + 40 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__about {
    margin-bottom: calc(90px + 50 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .main__about {
    margin-bottom: 140px;
  }
}
.main__projects {
  margin-bottom: calc(50px + 40 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__projects {
    margin-bottom: calc(90px + 50 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .main__projects {
    margin-bottom: 140px;
  }
}
.main__benefits {
  margin-bottom: calc(50px + 40 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__benefits {
    margin-bottom: calc(90px + 50 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .main__benefits {
    margin-bottom: 140px;
  }
}
.main__contact {
  margin-bottom: calc(45px + 40 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__contact {
    margin-bottom: calc(85px + 45 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .main__contact {
    margin-bottom: 130px;
  }
}
.main__blogs {
  margin-bottom: calc(50px + 40 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__blogs {
    margin-bottom: calc(90px + 50 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .main__blogs {
    margin-bottom: 140px;
  }
}
.main__brands {
  margin-bottom: calc(35px + 35 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__brands {
    margin-bottom: calc(70px + 30 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .main__brands {
    margin-bottom: 100px;
  }
}

.hero {
  height: 100vh;
}
.hero__text p:not(:last-child) {
  margin-bottom: 10px;
}
.hero__img {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20%;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.hero__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}
.hero__text-content {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}
.hero__content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 32.1237vh;
}
@media (min-width: 576px) {
  .hero__content {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .hero__content {
    width: 50%;
  }
}
.hero__title {
  margin-bottom: 20px;
  font-size: calc(30px + 15 * (100vw - 320px) / 424);
  line-height: 1.2; /* 96px/80 */
  letter-spacing: 0.22px;
  text-align: left;
}
@media (min-width: 767.98px) {
  .hero__title {
    font-size: calc(45px + 35 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .hero__title {
    font-size: 80px;
  }
}
.hero__text {
  margin-bottom: calc(20px + 5 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .hero__text {
    margin-bottom: calc(25px + 10 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .hero__text {
    margin-bottom: 35px;
  }
}
.hero__button {
  position: relative;
  left: 0;
  top: 0;
}

.button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 17px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 18px;
  border: 2px solid #292f36;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(41, 47, 54, 0)), color-stop(75%, rgb(41, 47, 54)));
  background: linear-gradient(to right, rgba(41, 47, 54, 0) 25%, rgb(41, 47, 54) 75%);
  background-position: 99% 50%;
  background-size: 400% 300%;
  -webkit-transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button:hover {
  color: #292f36;
  background-position: 1% 50%;
  -webkit-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (hover: none) {
  .button:active {
    color: #292f36;
    background-position: 1% 50%;
    -webkit-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
.button__img {
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
  margin-left: 41px;
}
.button__img:before, .button__img:after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 17px;
  position: absolute;
  right: 0;
  top: calc(50% - 10px);
  background-image: url("../../images/icons/arrow-left.svg");
  background-position: center;
  background-size: contain;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.button__img--red:before, .button__img--red:after {
  background-image: url("../../images/icons/arrow-left-black.svg");
}
.button:hover .button__img:after {
  -webkit-animation: arrow-after 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: arrow-after 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
.button:hover .button__img:before {
  -webkit-animation: arrow-before 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: arrow-before 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
.button:hover .button__img--red:before, .button:hover .button__img--red:after {
  background-image: url("../../images/icons/arrow-left.svg");
}
@media (hover: none) {
  .button:active .button__img:after {
    -webkit-animation: arrow-after 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation: arrow-after 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  }
  .button:active .button__img:before {
    -webkit-animation: arrow-before 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation: arrow-before 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  }
}

.options__text p:not(:last-child) {
  margin-bottom: 10px;
}
.options__content {
  display: grid;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.options__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.options__subtitle {
  margin-bottom: calc(10px + 7 * (100vw - 320px) / 424);
  font-size: calc(20px + 0 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .options__subtitle {
    margin-bottom: calc(17px + 0 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .options__subtitle {
    margin-bottom: 17px;
  }
}
@media (min-width: 767.98px) {
  .options__subtitle {
    font-size: calc(20px + 5 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .options__subtitle {
    font-size: 25px;
  }
}
.options__text {
  margin-bottom: calc(15px + 5 * (100vw - 320px) / 424);
  color: #4D5053;
}
@media (min-width: 767.98px) {
  .options__text {
    margin-bottom: calc(20px + 15 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .options__text {
    margin-bottom: 35px;
  }
}
.options__button {
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
  padding-right: 30px;
  color: #4D5053;
  font-size: 18px;
  letter-spacing: 0.36px;
}
.options__button:hover {
  color: #cda274;
  -webkit-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (hover: none) {
  .options__button:active {
    color: #cda274;
    -webkit-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
.options__button:before, .options__button:after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 17px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../../images/icons/arrow-left.svg");
  background-position: center;
  background-size: contain;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.options__button:hover:before {
  -webkit-animation: arrow-before-right 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: arrow-before-right 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
.options__button:hover::after {
  -webkit-animation: arrow-after-right 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: arrow-after-right 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

@-webkit-keyframes arrow-before-right {
  0% {
    -webkit-transform: translateX(-30px) translateY(-50%);
            transform: translateX(-30px) translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
}

@keyframes arrow-before-right {
  0% {
    -webkit-transform: translateX(-30px) translateY(-50%);
            transform: translateX(-30px) translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
}
@-webkit-keyframes arrow-after-right {
  0% {
    -webkit-transform: translateX(0px) translateY(-50%);
            transform: translateX(0px) translateY(-50%);
  }
  100% {
    -webkit-transform: translateX(30px) translateY(-50%);
            transform: translateX(30px) translateY(-50%);
    opacity: 0;
  }
}
@keyframes arrow-after-right {
  0% {
    -webkit-transform: translateX(0px) translateY(-50%);
            transform: translateX(0px) translateY(-50%);
  }
  100% {
    -webkit-transform: translateX(30px) translateY(-50%);
            transform: translateX(30px) translateY(-50%);
    opacity: 0;
  }
}
.designs__text p:not(:last-child) {
  margin-bottom: 10px;
}
.designs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  -webkit-column-gap: calc(0px + 40 * (100vw - 320px) / 424);
     -moz-column-gap: calc(0px + 40 * (100vw - 320px) / 424);
          column-gap: calc(0px + 40 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .designs__content {
    -webkit-column-gap: calc(40px + 35 * (100vw - 767.98px) / (1280 - 744));
       -moz-column-gap: calc(40px + 35 * (100vw - 767.98px) / (1280 - 744));
            column-gap: calc(40px + 35 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .designs__content {
    -webkit-column-gap: 75px;
       -moz-column-gap: 75px;
            column-gap: 75px;
  }
}
@media (min-width: 576px) {
  .designs__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 0;
  }
}
.designs__img {
  position: relative;
  left: 0;
  top: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  aspect-ratio: 592/635;
  overflow: hidden;
  border-top-right-radius: 53.378%;
  border-bottom-left-radius: 20.777%;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 576px) {
  .designs__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49.33%;
            flex: 0 0 49.33%;
  }
}
.designs__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.designs__content-text {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: calc(20px + 10 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .designs__content-text {
    row-gap: calc(30px + 10 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .designs__content-text {
    row-gap: 40px;
  }
}
.designs__title {
  font-size: calc(25px + 10 * (100vw - 320px) / 424);
  letter-spacing: 0.22px;
}
@media (min-width: 767.98px) {
  .designs__title {
    font-size: calc(35px + 15 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .designs__title {
    font-size: 50px;
  }
}
.designs__contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 10px;
}
.designs__call-img {
  width: calc(60px + 20 * (100vw - 320px) / 424);
  height: calc(60px + 20 * (100vw - 320px) / 424);
  border-radius: 50%;
  background-color: #F4F0EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 767.98px) {
  .designs__call-img {
    width: calc(80px + 13 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .designs__call-img {
    width: 93px;
  }
}
@media (min-width: 767.98px) {
  .designs__call-img {
    height: calc(80px + 13 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .designs__call-img {
    height: 93px;
  }
}
.designs__call-text {
  color: #4D5053;
  position: relative;
  color: #4D5053;
}
.designs__call-text:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -3px;
  height: 2px;
  width: 0%;
  border-radius: 5px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background-color: #4D5053;
}
.designs__call-text:hover:before {
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media (hover: none) {
  .designs__call-text:active :before {
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}

.about__content {
  padding-top: 105px;
  padding-bottom: 120px;
  border-radius: calc(30px + 20 * (100vw - 320px) / 424);
  background-color: #F4F0EC;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 767.98px) {
  .about__content {
    border-radius: calc(50px + 20 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .about__content {
    border-radius: 70px;
  }
}
.about__title {
  font-size: calc(20px + 10 * (100vw - 320px) / 424);
  margin-bottom: calc(20px + 12 * (100vw - 320px) / 424);
  text-align: center;
}
@media (min-width: 767.98px) {
  .about__title {
    font-size: calc(30px + 15 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .about__title {
    font-size: 45px;
  }
}
@media (min-width: 767.98px) {
  .about__title {
    margin-bottom: calc(32px + 16 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .about__title {
    margin-bottom: 48px;
  }
}
.about__items {
  display: grid;
  padding-inline: 10px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 355px));
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  row-gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__card {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: calc(15px + 5 * (100vw - 320px) / 424);
  padding-top: calc(30px + 10 * (100vw - 320px) / 424);
  padding-bottom: calc(25px + 10 * (100vw - 320px) / 424);
  padding-inline: calc(20px + 5 * (100vw - 320px) / 424);
  border-radius: 30px;
  background-color: #fff;
}
@media (min-width: 767.98px) {
  .about__card {
    row-gap: calc(20px + 5 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .about__card {
    row-gap: 25px;
  }
}
@media (min-width: 767.98px) {
  .about__card {
    padding-top: calc(40px + 10 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .about__card {
    padding-top: 50px;
  }
}
@media (min-width: 767.98px) {
  .about__card {
    padding-bottom: calc(35px + 10 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .about__card {
    padding-bottom: 45px;
  }
}
@media (min-width: 767.98px) {
  .about__card {
    padding-inline: calc(25px + 10 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .about__card {
    padding-inline: 35px;
  }
}
.about__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.about__img {
  width: 77px;
  height: 77px;
  position: relative;
  left: 0;
  top: 0;
  border-radius: 50%;
  border-radius: 100px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.about__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.about__city {
  font-size: 18px;
  color: #292f36;
}

.brands__content {
  width: 100%;
  height: calc(50px + 20 * (100vw - 320px) / 424);
  overflow: hidden;
}
@media (min-width: 767.98px) {
  .brands__content {
    height: calc(70px + 30 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .brands__content {
    height: 100px;
  }
}
.brands__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: calc(50px + 20 * (100vw - 320px) / 424);
  position: relative;
}
@media (min-width: 767.98px) {
  .brands__items {
    height: calc(70px + 30 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .brands__items {
    height: 100px;
  }
}
.brands__items:hover .brands__item {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.brands__item {
  --height: calc(50px + 20 * (100vw - 320px) / 424);
  --width: calc(50px + 50 * (100vw - 320px) / 424);
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  -webkit-animation: autoRun 10s linear infinite;
          animation: autoRun 10s linear infinite;
  -webkit-animation-delay: calc(10s / var(--quantity) * (var(--position) - 1));
          animation-delay: calc(10s / var(--quantity) * (var(--position) - 1));
}
@media (min-width: 767.98px) {
  .brands__item {
    --height: calc(70px + 30 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .brands__item {
    --height: 100px;
  }
}
@media (min-width: 767.98px) {
  .brands__item {
    --width: calc(100px + 40 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .brands__item {
    --width: 140px;
  }
}
.brands__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: center;
     object-fit: center;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.benefits {
  background-color: #F4F0EC;
}
.benefits__content {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-rule: 1px solid #cda274;
     -moz-column-rule: 1px solid #cda274;
          column-rule: 1px solid #cda274;
  padding-block: calc(50px + 40 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .benefits__content {
    padding-block: calc(90px + 50 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .benefits__content {
    padding-block: 140px;
  }
}
@media (min-width: 576px) {
  .benefits__content {
    -webkit-columns: 4;
       -moz-columns: 4;
            columns: 4;
  }
}
.benefits__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}
.benefits__text {
  color: #4D5053;
  text-align: center;
}
.benefits__digit {
  font-family: "DM Serif Display", serif;
  font-size: calc(30px + 25 * (100vw - 320px) / 424);
  letter-spacing: 1.7px;
  text-align: center;
  color: #cda274;
}
@media (min-width: 767.98px) {
  .benefits__digit {
    font-size: calc(55px + 30 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .benefits__digit {
    font-size: 85px;
  }
}

.projects__text p:not(:last-child) {
  margin-bottom: 10px;
}
.projects__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: calc(30px + 20 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .projects__text-content {
    margin-bottom: calc(50px + 20 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .projects__text-content {
    margin-bottom: 70px;
  }
}
@media (min-width: 576px) {
  .projects__text-content {
    max-width: 65.5%;
  }
}
.projects__title {
  font-size: calc(22px + 13 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .projects__title {
    font-size: calc(35px + 12 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .projects__title {
    font-size: 47px;
  }
}
.projects__text {
  color: #4D5053;
}
.projects__cards {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: calc(20px + 20 * (100vw - 320px) / 424);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (min-width: 767.98px) {
  .projects__cards {
    row-gap: calc(40px + 20 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .projects__cards {
    row-gap: 60px;
  }
}
@media (min-width: 576px) {
  .projects__cards {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}

.card-project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.card-project__img {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 24px;
  aspect-ratio: 590/661;
  border-radius: 0px 80px 0px 0px;
  border-top-right-radius: 13.559%;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.card-project__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card-project__title {
  font-size: calc(18px + 2 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .card-project__title {
    font-size: calc(20px + 4 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .card-project__title {
    font-size: 24px;
  }
}
.card-project__title a {
  position: relative;
  color: #292f36;
}
.card-project__title a:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -3px;
  height: 2px;
  width: 0%;
  border-radius: 5px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background-color: #292f36;
}
.card-project__title a:hover:before {
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media (hover: none) {
  .card-project__title a:active :before {
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}
.card-project__subtitle a {
  position: relative;
  color: #4D5053;
}
.card-project__subtitle a:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -3px;
  height: 2px;
  width: 0%;
  border-radius: 5px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background-color: #4D5053;
}
.card-project__subtitle a:hover:before {
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media (hover: none) {
  .card-project__subtitle a:active :before {
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}
.card-project__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(40px + 20 * (100vw - 320px) / 424);
  height: calc(40px + 20 * (100vw - 320px) / 424);
  border-radius: 50%;
  background-color: #F4F0EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 767.98px) {
  .card-project__button {
    width: calc(60px + 10 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .card-project__button {
    width: 70px;
  }
}
@media (min-width: 767.98px) {
  .card-project__button {
    height: calc(60px + 10 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .card-project__button {
    height: 70px;
  }
}

.contact__text p:not(:last-child) {
  margin-bottom: 10px;
}
.contact__content {
  padding-block: calc(40px + 30 * (100vw - 320px) / 424);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #292f36;
  border-radius: 70px;
  color: #fff;
}
@media (min-width: 767.98px) {
  .contact__content {
    padding-block: calc(70px + 30 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .contact__content {
    padding-block: 100px;
  }
}
.contact__title {
  margin-bottom: 10px;
  font-size: calc(22px + 13 * (100vw - 320px) / 424);
  text-align: center;
}
@media (min-width: 767.98px) {
  .contact__title {
    font-size: calc(35px + 15 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .contact__title {
    font-size: 50px;
  }
}
.contact__text {
  margin-bottom: 30px;
}
.contact__button {
  border: 2px solid #cda274;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(205, 162, 116, 0)), color-stop(75%, rgb(205, 162, 116)));
  background: linear-gradient(to right, rgba(205, 162, 116, 0) 25%, rgb(205, 162, 116) 75%);
  background-position: 99% 50%;
  background-size: 400% 300%;
  -webkit-transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contact__button:hover {
  color: #cda274;
}
@media (hover: none) {
  .contact__button:active {
    color: #cda274;
  }
}

.blogs__text p:not(:last-child) {
  margin-bottom: 10px;
}
.blogs__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: calc(30px + 20 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .blogs__text-content {
    margin-bottom: calc(50px + 20 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .blogs__text-content {
    margin-bottom: 70px;
  }
}
@media (min-width: 576px) {
  .blogs__text-content {
    max-width: 50%;
  }
}
.blogs__title {
  font-size: calc(22px + 13 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .blogs__title {
    font-size: calc(35px + 12 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .blogs__title {
    font-size: 47px;
  }
}
.blogs__text {
  color: #4D5053;
}
.blogs__cards {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 387px));
  row-gap: calc(20px + 20 * (100vw - 320px) / 424);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (min-width: 767.98px) {
  .blogs__cards {
    row-gap: calc(40px + 0 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .blogs__cards {
    row-gap: 40px;
  }
}
@media (min-width: 576px) {
  .blogs__cards {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}
@media (min-width: 1024px) {
  .blogs__cards {
    grid-template-columns: repeat(3, minmax(280px, 1fr));
  }
}

.card-blogs {
  padding: 21px;
  border: 1px solid #E7E7E7;
  border-radius: calc(26px + 16 * (100vw - 320px) / 424);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 767.98px) {
  .card-blogs {
    border-radius: calc(42px + 20 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .card-blogs {
    border-radius: 62px;
  }
}
.card-blogs__img {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  aspect-ratio: 340/300;
  margin-bottom: 15px;
  border-radius: 13% 13% 0px 0px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.card-blogs__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card-blogs__img:before {
  content: attr(data-text);
  position: absolute;
  left: 24px;
  bottom: 29px;
  z-index: 10;
  display: block;
  padding: 10px;
  border-radius: 8px 8px 8px 0px;
  background: #fff;
  color: #4D5053;
  font-size: 15px;
}
.card-blogs__title {
  font-family: "DM Serif Display", serif;
  font-size: calc(20px + 5 * (100vw - 320px) / 424);
  margin-bottom: 20px;
  line-height: 1.4; /* 35px/25 */
  letter-spacing: 0.5px;
}
@media (min-width: 767.98px) {
  .card-blogs__title {
    font-size: calc(25px + 0 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .card-blogs__title {
    font-size: 25px;
  }
}
.card-blogs__title a {
  position: relative;
  color: #292f36;
}
.card-blogs__title a:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -3px;
  height: 2px;
  width: 0%;
  border-radius: 5px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background-color: #292f36;
}
.card-blogs__title a:hover:before {
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media (hover: none) {
  .card-blogs__title a:active :before {
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}
.card-blogs__footer {
  margin-bottom: calc(20px + 10 * (100vw - 320px) / 424);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 767.98px) {
  .card-blogs__footer {
    margin-bottom: calc(30px + 10 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .card-blogs__footer {
    margin-bottom: 40px;
  }
}
.card-blogs__date {
  font-size: 16px;
  color: #4D5053;
}
.card-blogs__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(40px + 4 * (100vw - 320px) / 424);
  height: calc(40px + 4 * (100vw - 320px) / 424);
  border-radius: 50%;
  background-color: #F4F0EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 767.98px) {
  .card-blogs__button {
    width: calc(44px + 8 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .card-blogs__button {
    width: 52px;
  }
}
@media (min-width: 767.98px) {
  .card-blogs__button {
    height: calc(44px + 8 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .card-blogs__button {
    height: 52px;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
  margin-bottom: calc(45px + 40 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .footer__top {
    margin-bottom: calc(85px + 25 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .footer__top {
    margin-bottom: 110px;
  }
}
@media (min-width: 1024px) {
  .footer__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
}
.footer__navs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
@media (min-width: 576px) {
  .footer__navs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36.333%;
            flex: 0 0 36.333%;
  }
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1024px) {
  .footer__socials {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.footer__contact, .footer__socials {
  text-align: center;
}
@media (min-width: 1024px) {
  .footer__contact, .footer__socials {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
.footer__subtitle {
  margin-bottom: calc(15px + 5 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .footer__subtitle {
    margin-bottom: calc(20px + 0 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .footer__subtitle {
    margin-bottom: 20px;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: calc(15px + 5 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .footer__list {
    row-gap: calc(20px + 10 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .footer__list {
    row-gap: 30px;
  }
}
.footer__link {
  position: relative;
  color: #4D5053;
}
.footer__link:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -3px;
  height: 2px;
  width: 0%;
  border-radius: 5px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background-color: #4D5053;
}
.footer__link:hover:before {
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media (hover: none) {
  .footer__link:active :before {
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
  }
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__slogan {
  margin-bottom: calc(20px + 5 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .footer__slogan {
    margin-bottom: calc(25px + 5 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .footer__slogan {
    margin-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .footer__slogan {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
.footer__icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: calc(20px + 10 * (100vw - 320px) / 424);
     -moz-column-gap: calc(20px + 10 * (100vw - 320px) / 424);
          column-gap: calc(20px + 10 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .footer__icons {
    -webkit-column-gap: calc(30px + 10 * (100vw - 767.98px) / (1280 - 744));
       -moz-column-gap: calc(30px + 10 * (100vw - 767.98px) / (1280 - 744));
            column-gap: calc(30px + 10 * (100vw - 767.98px) / (1280 - 744));
  }
}
@media (min-width: 1280px) {
  .footer__icons {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (min-width: 1024px) {
  .footer__icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.footer__bottom-text {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #4D5053;
}
@media (min-width: 576px) {
  .footer__bottom-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: justify;
  }
}
.footer__bottom-text span {
  color: #cda274;
}