.blogs {
  @include p-margin;
  &__text-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 0 auto;
    text-align: center;
    @include adaptive-property(margin-bottom, 30, 50, 70);
    @include onTablet {
      max-width: 50%;
    }
  }
  &__title {
    @extend %section-title;
    @include adaptive-property(font-size, 22, 35, 47);
  }
  &__text {
    color: $text-color-gray;
  }
  &__cards {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 387px));
    @include adaptive-property(row-gap, 20, 40, 40);
    column-gap: 20px;

    @include onTablet {
      grid-template-columns: repeat(2, minmax(280px, 1fr));
    }
    @include onDesktop {
      grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
  }
}
.card-blogs {
  padding: 21px;
  border: 1px solid #E7E7E7;
  @include adaptive-property(border-radius, 26, 42, 62);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &__img {
    @include positiion-r;
    width: 100%;
    aspect-ratio: 340 / 300;
    margin-bottom: 15px;
    border-radius: 13% 13% 0px 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    img {
      @include ibg;
      transition: $transition-duraction ease-in-out 0.1s;
      &:hover {
        transform: scale(1.1);
      }
      @include screen-hover {
        transform: scale(1.1);
      }
    }
  }
  &__img:before {
      content: attr(data-text);
      position: absolute;
      left: 24px;
      bottom: 29px;
      z-index: 10;
      display: block;
      padding: 10px;
      border-radius: 8px 8px 8px 0px;
      background: $bg-color;
      color: $text-color-gray;
      font-size: 15px;
      transform: translateY(0);
      opacity: 1;
      transition: $transition-duraction cubic-bezier(0.550, 0.085, 0.680, 0.530);
  }
  &__img:hover:before {
    transform: translateY(200px);
    opacity: 0;
  }
  &__title {
    font-family: 'DM Serif Display', serif;
    @include adaptive-property(font-size, 20, 25, 25);
    margin-bottom: 20px;
    line-height: 1.4; /* 35px/25 */
    letter-spacing: 0.5px;
    
    a {
      @include hover-line;
    }
  }
  &__footer {
    @include adaptive-property(margin-bottom, 20, 30, 40);
    @include flex-center(space-between);
  }
  &__date {
    font-size: 16px;
    color: $text-color-gray;
  }
  &__button {
    flex: 0 0 auto;
    @include adaptive-property(width, 40, 44, 52);
    @include adaptive-property(height, 40, 44, 52);
    border-radius: 50%;
    background-color: $bg-color-gray;
    @include flex-center;
  }
  &:hover {
    .card-blogs__button {
      animation: heartbeat $transition-duraction * 3 ease-in-out infinite both;
    }
  }
  @include screen-hover {
    .card-blogs__button {
      animation: heartbeat $transition-duraction * 3 ease-in-out infinite both;
    }
  }
}