.button {
  width: max-content;
  padding: 17px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 18px;
  border: 2px solid $text-color-dark;
  background: linear-gradient(to right, rgba(41, 47, 54, 0) 25%, rgba(41, 47, 54, 1) 75%);
  background-position: 99% 50%;
  background-size: 400% 300%;
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    color: $text-color-dark;
    background-position: 1% 50%;
    transition: $transition-duraction cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  @include screen-hover {
    color: $text-color-dark;
    background-position: 1% 50%;
    transition: $transition-duraction cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &__img {
    @include positiion-r;
    display: inline-block;
    margin-left: 41px;

    &:before,
    &:after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 17px;
      position: absolute;
      right: 0;
      top: calc(50% - 10px);
      background-image: url("../../images/icons/arrow-left.svg");
      background-position: center;
      background-size: contain;
      transition: $transition-duraction ease;
    }
    &--red {
      &:before,
      &:after {
        background-image: url("../../images/icons/arrow-left-black.svg");
      }
    }
  }
  &:hover .button__img {
    &:after {
      animation: arrow-after 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    }
    &:before {
      animation: arrow-before 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    }
  }
  &:hover .button__img--red {
    &:before,
    &:after {
      background-image: url("../../images/icons/arrow-left.svg");
    }
  }
  @include screen-hover {
    .button__img {
      &:after {
        animation: arrow-after 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      }
      &:before {
        animation: arrow-before 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      }
    }
  }
}
