.designs {
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @include adaptive-property(column-gap, 0, 40, 75);

    @include onTablet {
      flex-direction: row;
      row-gap: 0;
    }
  }
  &__img {
    position: relative;
    left: 0;
    top: 0;
    flex: 0 0 100%;
    aspect-ratio: 592 / 635;
    overflow: hidden;
    border-top-right-radius: 53.378%;
    border-bottom-left-radius: 20.777%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    @include onTablet {
      flex: 0 0 49.33%;
    }

    img {
      @include ibg;
    }
  }
}