.designs {
  @include p-margin;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @include adaptive-property(column-gap, 0, 40, 75);

    @include onTablet {
      flex-direction: row;
      row-gap: 0;
    }
  }
  &__img {
    @include positiion-r;
    flex: 0 0 100%;
    aspect-ratio: 592 / 635;
    overflow: hidden;
    border-top-right-radius: 53.378%;
    border-bottom-left-radius: 20.777%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include onTablet {
      flex: 0 0 49.33%;
    }

    img {
      @include ibg;
    }
  }
  &__content-text {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    @include adaptive-property(row-gap, 20, 30, 40);
  }
  &__title {
    @extend %section-title;
    @include adaptive-property(font-size, 25, 35, 50);
    letter-spacing: 0.22px;
  }
  &__contact {
    display: inline-flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 10px;
  }
  &__call-img {
    @include adaptive-property(width, 60, 80, 93);
    @include adaptive-property(height, 60, 80, 93);
    border-radius: 50%;
    background-color: $bg-color-gray;
    @include flex-center;
  }
  &__call-text {
    color: $text-color-gray;
    @include hover-line;
  }
}