.header {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
  }
  &__content {
    @include positiion-r;
    @include flex-center(space-between);
    @include adaptive-property(height, 50, 70, 106);
  }
  &__logo {
    @extend %logo;
    z-index: 3;
  }
  @media (max-width: $desktop-min-width) {
    &__menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 100px 30px 30px 30px;
      transition: left $transition-duraction ease 0s;
      overflow-y: auto;
      overflow-x: hidden;
    }
    &__menu.active {
      left: 0;
    }
    .menu__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
    }
  }
}
.burger {
  @include positiion-r;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 3;

  @include onDesktop {
    display: none;
  }

  &:before,
  &:after {
    content: "";
  }
  &:before,
  &:after,
  & span {
    width: 100%;
    height: 10%;
    position: absolute;
    left: 0;
    display: block;
    background-color: $text-color-dark;
    border-radius: 10px;
    transition: $transition-duraction ease-in;
  }
  & span {
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}
.burger.active {
  &:before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  &:after {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  span {
    opacity: 0;
    transform: translateY(-50%) scale(0);
  }
}
.menu {
  &__list {
    display: flex;
    align-items: center;

    @include onDesktop {
      column-gap: 40px;
    }
  }

  &__link {
    @include positiion-r;
    font-size: 19px;
    @include adaptive-property(font-size, 25, 25, 19);
    line-height: 30px;
    letter-spacing: 0.4px;
    color: $text-color-dark;
    z-index: 3;
    @include hover-line;
  }
  &__link.active {
    color: $text-color-red;
    &:before {
      background-color: $text-color-red;
    }
  }
}
