.header {
  &__content {
    @include flex-center(space-between);
    @include adaptive-property(height, 50, 70, 106);
  }
  &__logo {
    @extend %logo;
  }
}
.burger {
  @include positiion-r;
  width: 25px;
  height: 25px;
  cursor: pointer;

  @include onDesktop {
    display: none;
  }

  &:before,
  &:after {
    content: "";
  }
  &:before,
  &:after,
  & span {
    width: 100%;
    height: 10%;
    position: absolute;
    left: 0;
    display: block;
    background-color: $text-color-dark;
    border-radius: 10px;
    transition: $transition-duraction ease-in;
  }
  & span {
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}
.burger.active {
  &:before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  &:after {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  span {
    opacity: 0;
    transform: translateY(-50%) scale(0);
  }
}