.hero {
  height: 100vh;
  @include p-margin;

  &__img {
    @include positiion-r;
    width: 100%;
    height: 100%;
    overflow: hidden;
    inset: 0;
    z-index: -1;
    transition: $transition-duraction;
    mask-image: none;

    img {
      @include ibg;
      display: none;
    }
  }
  &__img.active {
    border-bottom-left-radius: 20%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    mask-image: url("../../images/ink.gif");
    mask-size: cover;
    mask-position: center;
    img {
      display: block;
    }
  }
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
  }
  &__text-content {
    @include positiion-r;
    right: 0;
    height: 100%;
  }
  &__content {
    position: absolute;
    left: 0;
    width: 100%;
    @include onTablet {
      width: 70%;
    }
    @include onDesktop {
      width: 50%;
    }
    height: 100%;
    top: 32.1237vh;
  }
  &__title {
    margin-bottom: 20px;
    @extend %section-title;
    @include adaptive-property(font-size, 30, 45, 80);
    line-height: 1.2; /* 96px/80 */
    letter-spacing: 0.22px;
    text-align: left;
  }
  &__text {
    @include adaptive-property(margin-bottom, 20, 25, 35);
  }
  &__button {
    @include positiion-r;
  }
}
