.options {
  @include p-margin;

  &__content {
    display: grid;
    column-gap: 1rem;
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
    justify-content: space-around;
  }
  &__card {
    @include flex-center;
    justify-content: start;
    flex-direction: column;
  }
  &__subtitle {
    @include adaptive-property(margin-bottom, 10, 17, 17);
    @extend %section-title;
    @include adaptive-property(font-size, 20, 20, 25);
  }
  &__text {
    @include adaptive-property(margin-bottom, 15, 20, 35);
    color: $text-color-gray;
  }
  &__button {
    @include positiion-r;
    display: inline-block;
    padding-right: 30px;
    color: $text-color-gray;
    font-size: 18px;
    letter-spacing: 0.36px;

    &:hover {
      color: $text-color-red;
      transition: $transition-duraction cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    @include screen-hover {
      color: $text-color-red;
      transition: $transition-duraction cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:before,
    &:after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 17px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../../images/icons/arrow-left.svg");
      background-position: center;
      background-size: contain;
      transition: $transition-duraction ease;
    }
    &:hover:before {
      animation: arrow-before-right 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    }
    &:hover::after {
      animation: arrow-after-right 700ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    }
  }
}
@keyframes arrow-before-right {
  0% {
    transform: translateX(-30px) translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
}
@keyframes arrow-after-right {
  0% {
    transform: translateX(0px) translateY(-50%);
  }
  100% {
    transform: translateX(30px) translateY(-50%);
    opacity: 0;
  }
}
