html {
  scroll-behavior: smooth;
}
.page {
  font-family: 'Jost', serif;
  @include adaptive-property(font-size, 16, 20, 22);
  font-weight: 400;
  line-height: 1.5; /* 33px/22 */
  letter-spacing: 0.22px;
  color: $text-color-dark;
  background-color: $bg-color;
  overflow-x: clip;

  &__header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}
.page.lock {
  overflow: clip;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: clip;
}
[class*="__container"] {
  max-width: 1280px;
  @include adaptive-property(padding-inline, 10, 20, 40);
  margin: 0 auto;
  overflow-x: clip;
}
