%section-subtitle {
  font-family: 'DM Serif Display', serif;
  @include adaptive-property(font-size, 20, 25, 25);
  line-height: 1.5; /* 37.5px/25 */
  font-weight: 400;
  font-style: normal;
}
%section-title {
  font-family: 'DM Serif Display', serif;
  line-height: 1.3;
  font-weight: 400;
  font-style: normal;
}
%logo {
  display: block;
  @include positiion-r;
  @include adaptive-property(height, 25, 35, 50);
  @include adaptive-property(width, 100, 120, 177);

  img {
    position: absolute;
    left: 0;
    top: 0;
    object-position: center;
    object-fit: cover;
  }
}
@mixin hover-line($color: $text-color-dark) {
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -3px;
    height: 2px;
    width: 0%;
    border-radius: 5px;
    transition: $transition-duraction ease-in-out;
    background-color: $color;
  }
  &:hover:before {
    left: 0;
    right: 0;
    width: 100%;
    transition: $transition-duraction ease-in;
  }
  @include screen-hover {
    :before {
      left: 0;
      right: 0;
      width: 100%;
      transition: $transition-duraction ease-in
    }
  }
}