@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}
@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}
@mixin adaptive-property($property, $mobileSize, $tableSize, $decktopSize) {
  $maxWidth: 1280;
  $addSize: $decktopSize - $mobileSize;

  @if ($tableSize == 0) {
    #{$property}: $decktopSize + px;
    //працює понад максимальну ширину
    // #{$property} : calc(#{$mobileSize  + px} + #{$decktopSize -  $mobileSize} * ((100vw - 320px) / #{$maxWidth - 320}));

    // працює до максимальної ширини
    @media (max-width: #{$maxWidth + px}) {
      #{$property}: calc(#{$mobileSize}px + #{$addSize} * ((100vw - 320px) / (#{$maxWidth} - 320)));
    }
  } @else if ($tableSize > 0) {
    #{$property}: calc(#{$mobileSize + px} + #{$tableSize - $mobileSize} * ((100vw - 320px) / #{744 - 320}));

    @media (min-width: 767.98px) {
      #{$property}: calc(
        #{$tableSize + px} + #{$decktopSize - $tableSize} * ((100vw - 767.98px) / (#{$maxWidth} - 744))
      );
    }

    //закоментувати якщо має працювати понад максимальну ширину
    @media (min-width: #{$maxWidth + px}) {
      #{$property}: $decktopSize + px;
    }
  }
}
@mixin positiion-r {
  position: relative;
  left: 0;
  top: 0;
}
@mixin ibg($size: cover) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: $size;
  object-position: center;
}
@mixin p-margin {
  &__text p:not(:last-child) {
    margin-bottom: 10px;
  }
}
@mixin flex-center($position: center) {
  display: flex;
  justify-content: $position;
  align-items: center;
}
@mixin screen-hover {
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
@mixin hover-line($color: $text-color-dark) {
  position: relative;
  color: $color;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -3px;
    height: 2px;
    width: 0%;
    border-radius: 5px;
    transition: $transition-duraction ease-out;
    background-color: $color;
  }
  &:hover:before {
    left: 0;
    right: 0;
    width: 100%;
    transition: $transition-duraction ease;
  }
  @include screen-hover {
    :before {
      left: 0;
      right: 0;
      width: 100%;
      transition: $transition-duraction ease-in
    }
  }
}
@keyframes arrow-before {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes arrow-after {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(30px);
    opacity: 0;
  }
}
