@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}
@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin adaptive-property($property, $mobileSize, $tableSize, $decktopSize) {
  $maxWidth: 1280;
  $addSize: $decktopSize - $mobileSize;

  @if ($tableSize == 0) {
    #{$property}: $decktopSize + px;
    //працює понад максимальну ширину
    // #{$property} : calc(#{$mobileSize  + px} + #{$decktopSize -  $mobileSize} * ((100vw - 320px) / #{$maxWidth - 320}));

    // працює до максимальної ширини
    @media (max-width: #{$maxWidth + px}) {
      #{$property}: calc(#{$mobileSize}px + #{$addSize} * ((100vw - 320px) / (#{$maxWidth} - 320)));
    }
  } @else if ($tableSize > 0) {
    #{$property}: calc(#{$mobileSize + px} + #{$tableSize - $mobileSize} * ((100vw - 320px) / #{744 - 320}));

    @media (min-width: 767.98px) {
      #{$property}: calc(
        #{$tableSize + px} + #{$decktopSize - $tableSize} * ((100vw - 767.98px) / (#{$maxWidth} - 744))
      );
    }

    //закоментувати якщо має працювати понад максимальну ширину
    @media (min-width: #{$maxWidth + px}) {
      #{$property}: $decktopSize + px;
    }
  }
}
@mixin grid-tablet {
  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }
}
@mixin grid-desktop {
  @media (min-width: $desktop-min-width) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }
}
@mixin positiion-r {
  position: relative;
  left: 0;
  top: 0;
}
@mixin ibg($size: cover) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: $size;
  object-position: center;
}
@mixin hover-item {
  transform: $transition-duraction ease-in;

  &:hover {
    @content;
  }
}

@mixin screen-hover {
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
@mixin screen-hover-before {
  @media (hover: none) {
    &:active:before {
      @content;
    }
  }
}
@mixin screen-hover-after {
  @media (hover: none) {
    &:active:active {
      @content;
    }
  }
}
@mixin p-margin {
  &__text p:not(:last-child) {
    margin-bottom: 10px;
  }
}
@mixin flex-center($position: center) {
  display: flex;
  justify-content: $position;
  align-items: center;
}