$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$container-max-width: 1280;

$text-color-dark: #292f36;
$text-color-gray: #4D5053;
$text-color-red: #cda274;

$bg-color: #fff;
$bg-color-gray: #F4F0EC;

$transition-duraction: 0.4s;
